<h1>
    <span class="glyphicon glyphicon-user"></span> 
    <%= 
        if @person.new_record?
            t(
                "helpers.submit.create",
                model: t("activerecord.models.person")
            )
        else
            t("edit_person") + ': ' + @person.fullname
        end
    %>
</h1>

<%= render partial: 'shared/errors', locals: { errors: @person.errors } %>

<p><%= raw(t("required_fields")) %></p>

<div class="well">
<%= form_for @person, html: { role: "form" } do |f| %>
    <!-- Salutation -->
    <div class="form-group">
        <%= f.label :salutation %>
        <%= f.select :salutation, t("salutations.either").map { |k, v| [v, k] }, { include_blank: true, selected: @person.read_attribute(:salutation) }, { class: "form-control" } %>
    </div>

    <!-- Name -->
    <div class="form-group <%= 'has-error' if @person.errors[:name].any? %>">
        <span class="text-danger">*</span> 
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>

    <!-- Last names -->
    <div class="form-group <%= 'has-error' if @person.errors[:lastnames].any? %>">
        <span class="text-danger">*</span> 
        <%= f.label :lastnames, class: "control-label" %>
        <%= f.text_field :lastnames, class: "form-control" %>
    </div>

    <!-- Gender -->
    <div class="form-group <%= 'has-error' if @person.errors[:sex].any? %>" style="margin-bottom: 0">
        <span class="text-danger">*</span>
        <%= f.label :sex, class: "control-label" %><br />
        <div class="radio" style="display:inline-block">
            <label class="control-label">
                <%= radio_button("person", "sex", true) %><i class="fa fa-male"></i> <%= t("male") %>
            </label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="radio" style="display:inline-block">
            <label class="control-label">
                <%= radio_button("person", "sex", false) %><i class="fa fa-female"></i> <%= t("female") %>
            </label>
        </div>
    </div>

    <!-- Role -->
    <div class="form-group <%= 'has-error' if @person.errors[:role].any? %>">
        <span class="text-danger">*</span> 
        <%= f.label :role, class: "control-label" %>
        <%= f.select :role, t("rolemap.either").map { |k, v| [v, k] }, { include_blank: true }, { class: "form-control" } %>
    </div>

    <!-- Church -->
    <div class="form-group">
        <%= f.label :church_id %>
        <%= f.collection_select :church_id, Church.order(:name).all, :id, :short_name, { include_blank: true, selected: params[:church_id] }, { class: "form-control" } %>
    </div>

    <!-- Description -->
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control", placeholder: t("description_help") %>
    </div>

    <!-- Checkboxes -->
    <div class="form-group">
    <label class="checkbox-inline">
        <%= f.check_box :attended %>
        <%= t("activerecord.attributes.person.attended") %>
    </label>
    <label class="checkbox-inline">
        <%= f.check_box :materials %>
        <%= t("activerecord.attributes.person.materials") %>
    </label>
    <label class="checkbox-inline">
        <%= f.check_box :printed %>
        <%= t("activerecord.attributes.person.printed") %>
    </label>
    </div>

    <% if @person.new_record? %>
        <%= link_to_function(
                raw('<i class="fa fa-save"></i> ') +
                    t("create_person_and_start_again"),
                "$(this).closest('form')[0].action+='?continue=1';$(this).closest('form').submit()",
                class: "btn btn-info") %> , &nbsp;
    <% end %>

    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <i class="fa fa-save"></i> 
        <%=
            t("helpers.submit.update",
                model: t("activerecord.models.person"))
        %>
    <% end %>
    &nbsp;<%= t("or") %>
    <% if @person.church %>
        <%= link_to t("cancel"), church_path(@person.church), class: "cancel-link" %>
    <% elsif params[:church_id] %>
        <%= link_to t("cancel"), { action: :show, controller: :churches, id: params[:church_id]}, class: "cancel-link" %>
    <% else %>
        <%= link_to t("cancel"), people_path, class: "cancel-link" %>
    <% end %>
<% end %>
</div>
