<table class="table table-striped table-hover round-topleft round-topright">
    <tr class="active">
        <th><a href="?order=name"><%= t("name") %></a></th>
        <th><a href="?order=role"><%= t("activerecord.attributes.person.role") %></a></th>
        <% if with_church %>
        <th><%= t("activerecord.models.church") %></th>
        <% end %>
        <th><%= t("activerecord.attributes.person.attended") %></th>
        <th><%= t("activerecord.attributes.person.materials") %></th>
        <th><%= t("activerecord.attributes.person.print") %></th>
        <th></th>
        <th></th>
    </tr>
    <% people.each do |person| %>
        <tr>
            <td><%= link_to person.fullname, person.church ? [person.church, person] : person %></td>
            <td><%= person.display_role %></td>
            <% if with_church %>
            <td><%= link_to person.church.short_name, person.church %></td>
            <% end %>
            <% ["attended", "materials", "print"].each do |field| %>
            <%= render partial: 'people/toggle', locals: { person: person, field: field } %>
            <% end %>
            <td>
                <%= link_to person.church ? edit_church_person_path(person.church, person) : edit_person_path(person), data: { toggle: "tooltip" }, title: t("edit"), class: "edit" do %>
                    <span class="glyphicon glyphicon-pencil"><span>
                <% end %>
            </td>
            <td>
                <%= link_to person.church ? [person.church, person] : person, data: { method: :delete, toggle: "tooltip", question: raw(t("confirm_person_delete", name: person.fullname)) }, title: t("delete") do %>
                    <span class="glyphicon glyphicon-trash"><span>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>