<h1>
    <span class="glyphicon glyphicon-home"></span> 
    <%= @church.short_name %>
</h1>

<p>
<%= link_to edit_church_path, class: "btn btn-primary btn-sm" do %>
    <span class="glyphicon glyphicon-pencil"></span> 
    <%= t("edit") %>
<% end %>

<%= link_to church_path(@church), class: "btn btn-danger btn-sm", data: { method: :delete, question: raw(t("confirm_church_delete", name: @church.short_name)) } do %>
    <span class="glyphicon glyphicon-trash"></span> 
    <%= t("delete") %>
<% end %>

<%= link_to new_church_path, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-plus"></span> 
    <%= t("helpers.submit.create", model: t("activerecord.models.church")) %>
<% end %>
</p>

<table class="table table-striped round-topleft round-bottomleft">
    <% ["position", "display_name", "nickname", "town", "notes"].each do |field| %>
        <tr>
            <td class="active" style="width: 18%">
                <strong>
                    <%= t("activerecord.attributes.church.#{field}") %>
                </strong>
            </td>
            <td><%= @church.send(field) %></td>
        </tr>    
    <% end %>
</table>

<div class="panel  panel-<%= @people.size < 1 ? 'warning' : 'info' %>">
    <div class="panel-heading">
        <div class="panel-title"><i class="fa fa-users"></i> <%= "#{t('people')} (#{@people.size})" %></div>
    </div>
    <div class="panel-body">
        <%= link_to new_church_person_path(@church), class: "btn btn-info btn-sm" do %>
            <span class="glyphicon glyphicon-plus"></span> 
            <%= t("helpers.submit.create", model: t("activerecord.models.person")) %>
        <% end %>
        &nbsp; &nbsp;<small><em><%= t("person_help") %></em></small>

        <p>
            <%= render partial: 'people/list', locals: { people: @people, with_church: false } %>
        </p>
    </div>
</div>

<div class="panel panel-<%= @balance > 0 ? 'warning' : 'success' %>">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="pull-right"><strong><%= t("balance") %>: <%= number_to_currency(@balance) %></strong></div>
            <i class="fa fa-credit-card"></i> 
            <%= t("checks") %> 
            &nbsp;(<%= number_to_currency(@payments) %>)
        </div>
    </div>
    <div class="panel-body">
        <%= render partial: 'checks/list', locals: { church: @church, checks: @church.checks } %>
    </div>
</div>