<h1>
    <i class="fa fa-credit-card"></i>
    <%= t("activerecord.models.check") %>
</h1>

<p>
<%= link_to edit_church_check_path(@church, @check), class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-pencil"></span> 
    <%= t("edit") %>
<% end %>

<%= link_to church_check_path(@church, @check), class: "btn btn-danger", data: { method: :delete, question: raw(t("confirm_check_delete", name: @check.amount)) } do %>
    <span class="glyphicon glyphicon-trash"></span> 
    <%= t("delete") %>
<% end %>

<%= link_to new_church_check_path(@church), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-plus"></span> 
    <%= t("helpers.submit.create", model: t("activerecord.models.check")) %>
<% end %>
</p>

<table class="table table-striped round-topleft round-bottomleft">
    <% ["number", "amount", "description"].each do |field| %>
        <tr>
            <td class="active" style="width: 18%">
                <strong>
                    <%= t("activerecord.attributes.check.#{field}") %>
                </strong>
            </td>
            <td><%= field == "amount" ? number_to_currency(@check.send(field)) : @check.send(field) %></td>
        </tr>    
    <% end %>
</table>
