<h1><span class="glyphicon glyphicon-print"></span> <%= t("printing") %></h1>

<h3><%= t("pendingtags") %></h3>

<p>
<%= link_to('/print/export', { target: :_blank, class: "btn btn-default btn-small" }) do %>
    <span class="glyphicon glyphicon-print"></span> <%= t("printnow") %>
<% end %>
</p>

<%= render partial: "people/list", locals: { people: @queued, with_church: true, no_sort: true } %>

<p><strong><%= t("total") %>:</strong> <%= @queued.size %></p>

