<h1>
    <span class="glyphicon glyphicon-list-alt"></span> 
    <%= "#{t('full_roster')} (#{@churches.size})" %>
</h1>

<% total_attendance = 0 %>

<% @churches.each do |church| %>

<%
unless @all
  people = church.people.reject {|p| p.role == 5 || !p.attended }  # Visitors not counted here
else
  people = church.people
end
total_attendance += people.size
%>

<h3><%= "#{church.display_name} (#{people.size})" %></h3>

<table class="table table-striped round-topleft round-topright">
    <tr class="active">
        <th style="width:50%"><%= t("name") %></th>
        <th><%= t("activerecord.attributes.person.role") %></th>
    </tr>

    <% people.each do |person| %>
        <tr>
            <td><%= link_to person.greetname, church_person_path(church, person) %></td>
            <td><%= person.display_role %></td>
        </tr>
    <% end %>
</table>
<% end %>

<% unless @all %>
<h3><strong><%= t('grand_voting_total', total: total_attendance) %></strong></h3>
<% else %>
<h3><strong><%= t('grand_registered_total', total: total_attendance) %></strong></h3>
<% end %>
