<h1><span class="glyphicon glyphicon-list-alt"></span> <%= t("reports") %></h1>
<div class="list-group">
  <%= link_to({ action: "present_churches" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info"><%= "#{t('churches')} #{t('present')}" %></h4>
    <p class="list-group-item-text"><%= t("present_churches_desc") %></p>
  <% end %>
  <%= link_to({ action: "arriving_churches" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info"><%= t('arriving_churches') %></h4>
    <p class="list-group-item-text"><%= t("arriving_churches_desc") %></p>
  <% end %>
  <%= link_to({ action: "missing_churches" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info"><%= t("missing_churches") %></h4>
    <p class="list-group-item-text"><%= t("missing_churches_desc") %></p>
  <% end %>
  <%= link_to({ action: "full_roster" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info"><%= t("full_roster") %></h4>
    <p class="list-group-item-text"><%= t("full_roster_desc") %></p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info"><%= t("full_roster_all") %></h4>
    <p class="list-group-item-text"><%= t("full_roster_all_desc") %></p>
  <% end %>
  <%= link_to({ action: "churches_with_balance" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info"><%= t("churches_with_balance") %></h4>
    <p class="list-group-item-text"><%= t("churches_with_balance_desc") %></p>
  <% end %>
</div>
<h1>Sedes</h1>
<div class="list-group">
  <%= link_to({ action: "full_roster", all: true, church_ids: "13", title: "Sede de Caguas" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Caguas</h4>
    <p class="list-group-item-text">Caguas</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "7,8,10,38,36,37", title: "Sede de Aguas Buenas" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Aguas Buenas</h4>
    <p class="list-group-item-text">Aguas Buenas, Bayamoncito, Barranquitas, La Nueva Ebenezer, Cidra I, Cidra II</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "18,19,21,2", title: "Sede de Canóvanas" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Canóvanas</h4>
    <p class="list-group-item-text">Canóvanas, Hosanna, Peniel I, Belén</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "25,3,20,27,91,28,30,32", title: "Sede de Carolina" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Carolina</h4>
    <p class="list-group-item-text">Carolina, Cupey, Lomas, Los Ángeles, Luz del Mundo, Luz de Salvación, Oasis de Bendición, San Antón</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "103,1,125,102,108,111", title: "Sede de Country Club" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Country Club</h4>
    <p class="list-group-item-text">Country Club, Campo Rico, Barrio Obrero, Betesda, Quintana, Sabana Llana</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "90,89,92,93,94", title: "Sede de El Lago" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">El Lago</h4>
    <p class="list-group-item-text">El Lago, Carraízo Alto, Saint Just, Sión, Trujillo Alto</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "12,11,40,41,123,72,75,9", title: "Sede de El Redentor" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">El Redentor</h4>
    <p class="list-group-item-text">El Redentor, Bayamón, Corozal, Dorado, Ebenezer de Levittown Lakes, Morovis, Orocovis, Reconciliación de Arecibo</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "45,128,33,39,46,130,34,35", title: "Sede de Guayama" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Guayama</h4>
    <p class="list-group-item-text">Guayama, Aibonito, Cayey, Coamo, Guayama Corazón, Patillas, Toíta, Unida Vegas y Farallón</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "47,78,77,76,79,80", title: "Sede de Guayanilla" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Guayanilla</h4>
    <p class="list-group-item-text">Guayanilla, Corral Viejo, Playa de Ponce, Ponce I, Ponce II, Ponce III</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "58,95,64,127,124,65,96", title: "Sede de Humacao" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Humacao</h4>
    <p class="list-group-item-text">Humacao, Berea, Casa de Adoración, Maunabo, Naguabo, Restaruación Las Piedras, Yabucoa</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "60,14,26,50,52,15,51,53,55,87,116,59,17,16,57,56,62,54,86,61", title: "Sede de Juncos" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Juncos</h4>
    <p class="list-group-item-text">Juncos, Caguas II, Cedros, Celada, Ebenezer de Gurabo, El Verbo de Dios, El Cielito, Gurabo, Hato Nuevo, Jagual, Jaguas, La Ciudad Deseada, La Esperanza, Las Cruces, Masas II, Mamey, Oasis de Paz, Quebrada, San Lorenzo, La Placita</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "29,22,23,24,105,31", title: "Sede de Metrópolis" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Metrópolis</h4>
    <p class="list-group-item-text">Metrópolis, Antioquía, Barrazas, Cacao, Getsemaní de Colinas Verdes, Rolling Hils</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "84,82,42,126,83,69,43,67,70,66,85,68", title: "Sede de Palmer"}, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Palmer</h4>
    <p class="list-group-item-text">Palmer, Bethel, Fajardo, Faro de Luz, Guzmán Arriba, Jerusalén, La Nueva Jerusalén, Loíza, Luquillo Mar, Medianía Alta, Río Grande, Villas de Loíza</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "109,100,113,49,48,107,106,110,112", title: "Sede de Río Piedras" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Río Piedras</h4>
    <p class="list-group-item-text">Río Piedras, Altamesa, Central de Villa Las Lomas, El Salvador, Guaynabo, Puerto Nuevo, Puerta de Tierra, Roosevelt, Santurce</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "99,5,97,63,98,117,71,6", title: "Sede de Yauco" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Yauco</h4>
    <p class="list-group-item-text">Yauco, Adjuntas, Almácigo, Castañer, Casa de Oración, Sinaí de Guánica, Mayaguez, Yahuecas</p>
  <% end %>
  <%= link_to({ action: "full_roster", all: true, church_ids: "114", title: "Sede de Santa Cruz" }, {class: "list-group-item"}) do %>
    <h4 class="list-group-item-heading text-info">Santa Cruz</h4>
    <p class="list-group-item-text">Casa de Oración</p>
  <% end %>
</div>
