<!DOCTYPE html>
<html>
<head>
  <title>RegistroIBPR</title>
  <%= stylesheet_link_tag "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "bootstrap-theme.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Registro IBPR</a>
            <ul class="nav navbar-nav">
                <li><%= link_to "Iglesias", "#" %></li>
                <li><%= link_to "Personas", "#" %></li>
                <li><%= link_to "Impresión", "#" %></li>
                <li><%= link_to "Reportes", "#" %></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">Navigation</div>
        <div class="col-md-10"><%= yield %></div>
    </div>
</div>

</body>
</html>
