<!DOCTYPE html>
<html>
<head>
  <title><%= t('short_title') %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <strong>
                <%= link_to t('short_title'), root_path, class: "navbar-brand"  %>
            </strong>
            <div class="navbar-brand" id="subtitle">
                <small><%= raw(t("subtitle")) %></small>
            </div>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <form action="<%= url_for controller: 'search' %>" class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="<%= t('search') %>" value="<%= params[:q] if params[:q] %>">
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul id="left-nav" class="nav nav-pills nav-stacked" data-spy="affix">
                <li class="<%= 'active' if controller_name == 'churches' %>">
                    <%= link_to(churches_path) do %>
                        <span class="glyphicon glyphicon-home"></span> <%= t("churches") %>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name == 'people' %>">
                    <%= link_to(people_path) do %>
                        <i class="fa fa-users"></i> <%= t("people") %>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name == 'print' %>">
                    <%= link_to(controller: :print) do %>
                        <span class="glyphicon glyphicon-print"></span> <%= t("printing") %>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name == 'reports' %>">
                    <%= link_to(controller: :reports) do %>
                        <span class="glyphicon glyphicon-list-alt"></span> <%= t("reports") %>
                    <% end %>
                </li>
                <li class="<%= 'active' if controller_name == 'users' %>">
                    <%= link_to("#") do %>
                        <i class="fa fa-smile-o"></i> <%= t("users") %>
                    <% end %>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <% flash.each do |name, msg| -%>
                <% name = { notice: "info", flash: "info", alert: "danger" }[name] %>
                <%= content_tag :div, class: "alert alert-#{name} alert-dismissable" do %>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <%= raw(msg) %>
                <% end %>
            <% end -%>
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
